* {
    font-family: "Josefin Sans";
    box-sizing: border-box;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
h2{
    font-weight: 700;
    font-size: 29px;
    line-height: 1.310344827586207em;
    letter-spacing: .13em;
}
p{
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: -.01em;
    color: #4c4c4c;
}
body {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
header{
    background-image: url('../files/alfa-home-slider-img-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.065);
}
.openmenu i, .closemenu  i{
    font-size: 24px;
    line-height: 5px;
}
.logo{
    padding-left: 10px;
    width: 20%;
    z-index: 2;
    cursor: pointer;
}
.logo img{
    width: 160px;
}
nav{
    width: 70%;
    display: grid;
}
nav ul{
    transition: linear 1s;
    justify-content: space-around;
}
nav ul li{
    cursor: pointer;
    display: inline-block;
    padding: 0 1.3rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    transition: ease-out .2s;
}
.icn{
    padding: 0 10px;
}
.nav-icon i{
    color: #fff;
    font-size: 18px;
    transition: ease-out .2s;
}
.classic{
    display: grid;
    width: 100%;
    margin-top: 3rem;
}
.classic .txt-img{
    display: grid;
    justify-self: center;
    background-image: url("../files/moving-text.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.txt-img h3{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 5px;
    color: #fff;
    padding-top: 1rem;
}
.classic span img{
    padding: 2rem;
    width: 80%;
    justify-self: center;
}
.awards{
    justify-self: center;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding-top: 5rem;
    margin: 2rem;
}
.title-area_text{
    display: none;
}
.pg-rate{
    justify-self: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 350px;
}
.pg-rate img{
    width: 100%;
    object-fit: cover;
}
.fstdiv{
    background-color: rgb(16, 17, 19);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem;
    height: 21rem;
    gap: 2rem;
}
.fstdiv span{
    width: 53%;
}
.fstdiv span p{
    letter-spacing: .8erm;
    color: #fff;
}
#syn{
    width: 30%;
    padding: 0;
}
.fstdiv h2{
    color: #fff;
    text-align: right;
    font-weight: 700;
    font-size: 34px;
}
.shorts{
    height: 430px;
}
.gallery{
    width: 100%;
    position: relative;
    display: grid;
}
.image-gallery{
    align-items: center;
    display: flex;
    height: 300px;
}
.gallery-item{
    height: 330px;
    z-index: 0;
}
.gallery-item img{
    width: 100%;
    height: 100%;
}
.item-img2{
    z-index: 1;
}
.play-button{
    justify-self: center;
}
.play-btn i{
    color: #fff;
    font-size: 33px;
    font-weight: 900;
}
.testimonial{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    position: relative;
}
.tstl-slide{
    width: 50%;
}
.bg-fade{
    background-color: transparent;
}
.bg-fade i{
    color: rgba(0, 0, 0, 0.304);
    font-size: 30px;
    font-weight: 600;
}
.carousel{
    width: 100%;
}
.second{
    margin: 2rem 0;
    padding: 4rem 0;
    display: grid;
    background-image: url("../files/alfa-home-background-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: pixelated;
}
.new-fiims{
    text-align: center;
}
.new-fiims h3{
    color: #848484;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: .13em;
    font-weight: 700;
}
.new-fiims h2{
    margin: 11px 0;
    color: #fff;
}
.img-container{
    justify-self: center;
    margin: 2rem 0 0 0;
}
.img-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
}
.gallery-card img{
    width: 370px;
}
.fig-caption h3{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 1rem 0 2rem 0;
}
.third{
    display: grid;
    background-color: #fff;
    padding: 2rem 0;
}
.product{
    justify-self: center;
    text-align: center;
}
.product h3{
    color: #848484;
    font-weight: 600;
    font-size: 16px;
}
.product h2{
    color: #000;
    padding: 1rem 0;
}
.makes-card{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin: 2rem 1rem 10rem 1rem;
}
.products-card{
    width: 18%;
    text-align: center;
    display: grid;
}
.products-icn{
    justify-self: center;
    width: 70px;
    height: 78px;
    margin-bottom: 1.3rem;
}
.products-icn img{
    width: 100%;
    height: 100%;
}
.theatre-production{
    background-image: url("../files/alfa-home-parallax-2.jpg");
    padding: 3rem;
}
.stirring{
    display: flex;
    padding: 2rem 3rem;
    align-items: center;
}
.stirring-img{
    width: 50%;
    padding:  0 0 0 4rem;
}
.stirring-movie{
    width: 50%;
    padding:  3rem 4rem 0 2.5rem;
}
.stirring-movie h3{
    color: #848484;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: .13em;
    font-weight: 700;
    padding: 15px 0;
}
.stirring-movie p{
    padding: 15px 0;
}
.movie-awards{
    margin:  15px;
}
.fourth{
    margin: 2rem 0 12rem 0;
}
.team{
    display: grid;
    text-align: center;
    background-image: url('../files/alfa-home-parallax-3.jpg');
    background-attachment: fixed;
    background-position: top;
    height: 520px;
    padding: 2rem;
    width: auto;
}
.team-txt{
    justify-self: center;
    padding: 2rem 0;
    width: 90%;
}
.team-txt h3, .team-txt h2, .team-txt p{
    color: #fff;
    padding: 3px 0;
}
.team-card{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 0 2rem;
    justify-self: center;
}
.team-profile{
    cursor: default;
}
.team-profile:hover  .qoute{
    opacity: 100;
}
.profile-pics{
    width: 340px;
    height: 352px;
    display: grid;
}
.qoute{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    display: grid;
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 330px;
    padding: 2rem;
    transition: linear 1s;
}
/* .qoute:hover{
    opacity: 100;
} */
.profile-pics p{
    color: #fff;
    text-align: left;
    justify-self: center;
    align-self: center;
}
.profile-pics img{
    width: 100%;
    height: 100%;
}
.profile-txt h3{
    font-size: 18px;
    font-weight: 700;
}
.profile-txt{
    padding: 5px;
}
.fifth{
    margin: 3rem 0 0 0;
    background-color: #f7f7f7;
    padding: 4rem 0;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 7rem;
}
.movies h3{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .2158rem;
    margin: 0.4rem 0 1rem 0;
}
.movies span{
    margin: 2rem;
}
.movie-card{
    width: 30%;
}
.sixth{
    background-color: #262626;
    padding: 2rem 0;
    overflow-x: hidden;
}
.collab-logo-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3rem;
}
.collab-logo{
    min-width: 35%;
}
.collab-logo img{
    aspect-ratio: 3/2;
    width: 80%;
    object-fit: cover;
}
.footer-fst{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
    background-color: #1c1c1c;
}
.footer-fst div{
    width: 300px;
    padding: 13px 23px 0 0;
} 
.footer-fst div h3{
    color: #fff;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
}
.footer-fst div p{
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    height: 6.5rem;
    padding: 15px 8px 0 0;
}
.footer-menu ul{
    padding-top: 1rem;
}
.footer-menu ul li{
    color: #848484;
    padding: 6px 0;
}
.form{
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 2.8rem;
    background-color: transparent;
    border: #fff 1px solid;
    cursor: pointer;
    transition: ease-out .5s;
}
.form:hover{
    border: #fff 2px solid;
}
.form input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 17px;
    font-weight: inherit;
    outline: 0;
    color: #848484;
    cursor: pointer;
}
input:focus{
    outline: nome !important;
}
.form i{
    color: #fff;
    padding-right: 5px;
}
.lst{
    background-color: #000;
    padding: 1.5rem;  
}
.lst p{
    text-align: center;
    font-size: 16px;
    font-weight: inherit;
}